body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
/*#region Header*/
.hero-image {
  position: relative;
  height: 100vh;
  background: url(../img/Slideshow1.jpg) no-repeat center;
  background-size: cover;
  overflow: hidden;
}

.transparentbackground {
  background: #000000;
  opacity: 0.65;
  height: 100vh;
  animation: backgroundfade 5s;
}

@keyframes backgroundfade {
  0% {
    opacity: 0.35;
  }
  25% {
    opacity: 0.65;
  }
  75% {
    opacity: 0.65;
  }
  100% {
    opacity: 0.65;
  }
}
.company-Name h1 {
  position: absolute;
  font-size: 72px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
  color: white;
  font-weight: 700;
  display: inline-block;
  animation: textfade 3s;
}

.header-textbox h1 {
  position: absolute;
  font-size: 72px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
  color: white;
  font-weight: 700;
  display: inline-block;
  animation: textfade 3s;
}

@keyframes textfade {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0.65;
  }
  100% {
    opacity: 0.95;
  }
}

nav {
  height: 80px;
  width: 100%;
  background: #000000;
  opacity: 0.75;
}
label.logo {
  font-size: 35px;
  font-weight: bold;
  color: white;
  padding: 0 100px;
  line-height: 80px;
}
nav ul {
  float: right;
  margin-right: 40px;
}

nav li {
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}

nav a {
  color: #08c9b0;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}

nav a.active,
a:hover {
  border: 1px solid #08c9b0;
  transition: 0.5s;
}

.Mnavbar {
  width: 100vw;
  height: 100%;
  background: #000000;
  opacity: 0.95;
  position: fixed;
  top: 0;
  right: -100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}

.change {
  right: 0;
}

.hamburger-menu {
  width: 35px;
  height: 30px;
  position: fixed;
  top: 30px;
  right: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.line {
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.8s;
}

.change .line-1 {
  transform: rotateZ(-405deg) translate(-8px, 6px);
}
.change .line-2 {
  opacity: 0;
}
.change .line-3 {
  transform: rotateZ(405deg) translate(-8px, -6px);
}

.Mnav-line {
  text-align: right;
}

.Mnav-item {
  list-style-type: none;
  margin: 20px;
}

.Mnav-link {
  text-decoration: none;
  font-size: 22px;
  color: white;
  font-weight: 350px;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  padding: 3px 0;
}

.Mnav-link::before,
.Mnav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: chocolate;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.Mnav-link::after {
  bottom: 0;
  transform-origin: right;
}
.Mnav-link::before {
  top: 0;
  transform-origin: left;
}

.Mnav-link:hover::before,
.Mnav-link:hover::after {
  transform: scaleX(1);
}

/*#endregion */

/*#region Middle*/
.Middle {
  background-color: #08c9b0;
  width: 100%;
  height: 20%;
  text-align: center;
  justify-content: center;
  padding-bottom: 40px;
}
.Middle h3 {
  margin: 0px auto;
  color: white;
  border-bottom: 5px solid white; /*--about us color (change)--*/
  text-align: center;
  font-size: 34px;
}

.Middle p {
  margin: 0px auto;
  font-size: 24px;
  color: white;
  line-height: 46px;
}

.product {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin-left: 50px;
  margin-bottom: 50px;
}
.Mproduct {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  z-index: -3;
  position: relative;
}

.price {
  color: grey;
  font-size: 22px;
  z-index: -2;
}

.product button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  z-index: -2;
}

.product button:hover {
  opacity: 0.7;
}

.Mproduct button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  z-index: -2;
}

.Mproduct button:hover {
  opacity: 0.7;
}

.Chevron {
  position: relative;
  display: inline;
  height: 50px;
  border-color: black;
  color: black;
}

.slide-controls {
  position: absolute;
  padding-left: 68px;
  padding-top: 58px;
  margin: -25px 0 0 -25px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  z-index: 0;
}

#next-btn,
#prev-btn {
  cursor: pointer;
  background: transparent;
  position: relative;
  font-size: 75px;
  border: none;
  padding: 10px;
  color: rgb(255, 255, 255, 0.9);
}
#next-btn:hover,
#prev-btn:hover {
  color: rgb(255, 255, 255, 0.9);
  transition-timing-function: linear;
}

#banner {
  width: 100%;
  height: 100%;
}
#banner .img {
  width: 100%;
  height: 100%;
}
#banner .imga {
  display: none;
  width: 100%;
  height: 100%;
}
#banner .img .active {
  display: inline;
  position: relative;
  margin: auto;
}

/*#region Middle*/

/*#region Cards*/
.CardSection {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}

.card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 210px 210px 80px;
  grid-template-areas: "image" "text" "stats";
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  border-radius: 18px;
  background: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
  text-align: center;

  transition: 0.5s ease;
  cursor: pointer;
  margin: 30px;
}
.card1 {
  position: inline-block;
  top: 0;
  left: 0;
}
.card-image {
  grid-area: image;
  background: url(../img/Slideshow3.jpg);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-size: cover;
}
.card-text {
  grid-area: text;
  margin: 25px;
}

.card-text p {
  color: grey;
  font-size: 15px;
  font-weight: 300;
}
.card-text h2 {
  margin-top: 0px;
  font-size: 28px;
}

.card-stats {
  grid-area: stats;
}

/*card2*/
.card2 {
  position: inline-block;
  top: 0;
  left: 100%;
}
.card-image.card2 {
  background: url(../img/moisturizer.jpg);
  background-size: cover;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*#endregion */
/*--footer--*/
footer {
  width: 100%;
  height: 100px;
  background-color: #08c9b0; /*--footer color (change)--*/
}
footer p {
  text-align: center;
  color: #000;
  line-height: 40px;
  font-size: 14px;
}

.mobileShow {
  display: none;
}
.mobileHide {
  display: inline;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .mobileShow {
    display: inline;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .mobileHide {
    display: none;
  }
}
