*{  
    margin: 0; padding: 0;
}
body {
  font-family: "Raleway", sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
ul,li{
    list-style: none; /*--over hidden--*/
}
.clear{
	clear: both;
}
a.redlink{ 
	color:blue;
	text-decoration:underline;
}
.mobileShow {
  display: none;
}
.mobileHide {
  display: inline;
}

/*---nav---*/
label.logo {
  font-size: 35px;
  font-weight: bold;
  color: white;
  padding: 0 50px;
  line-height: 50px;
}
nav ul {
  float: right;
  margin-right: 40px;
}
nav li {
  display: inline-block;
  margin: 0 8px;
  line-height: 80px;
}
nav a {
  color: #08c9b0;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  border: 1px solid transparent;
  padding: 7px 10px;
  border-radius: 3px;
}
nav a.active,
a:hover {
  border: 1px solid #08c9b0;
  transition: 0.5s;
}

.Mnavbar {
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: 0.95;
  position: fixed;
  top: 0;
  right: -100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: right 0.8s cubic-bezier(1, 0, 0, 1);
}
.change {
  right: 0;
}
.hamburger-menu {
  width: 35px;
  height: 30px;
  position: fixed;
  top: 30px;
  right: 30px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.line {
  width: 100%;
  height: 3px;
  background-color: white;
  transition: all 0.8s;
}
.change .line-1 {
  transform: rotateZ(-405deg) translate(-8px, 6px);
}
.change .line-2 {
  opacity: 0;
}
.change .line-3 {
  transform: rotateZ(405deg) translate(-8px, -6px);
}
.Mnav-line {
  text-align: right;
}
.Mnav-item {
  list-style-type: none;
  margin: 20px;
}
.Mnav-link {
  text-decoration: none;
  font-size: 22px;
  color: white;
  font-weight: 350px;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  padding: 3px 0;
}
.Mnav-link::before,
.Mnav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: chocolate;
  position: absolute;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}
.Mnav-link::after {
  bottom: 0;
  transform-origin: right;
}
.Mnav-link::before {
  top: 0;
  transform-origin: left;
}
.Mnav-link:hover::before,
.Mnav-link:hover::after {
  transform: scaleX(1);
}
label.logo {
    font-size: 35px;
    font-weight: bold;
    color: #F5F5F5;
    padding: 0 100px;
    line-height: 80px;
}

/*--title--*/
nav {
  height: 80px;
  width: 100%;
  background: #000000;
  opacity: 0.75;
}

div h4{
	width: 300px;
	height: 60px;
	text-align: center;
	margin: 0px auto;
	padding-top: 60px;
	border-bottom: 5px solid #EEBAB2;
	font-size: 34px;
	color:#EEBAB2;
	background: #f4f4f4;
}

/*--pic--*/
.bananer{
	width: 100%;
	height: 450px;
}
.bananer img{
	width: 100%;
	height: 450px;
}

/*--list--*/
.list{
	width:100%;
	height:100%;
	margin-top: 50px;
}
.list ul {
	width: 100%;
	height:100%;
}
.list ul li{
	width: 400px;
	height: 500px;
	float:left;
	margin-left: 80px;
}
 .list ul .cp-img {
 	overflow: hidden;
 }
 .list ul .cp-img img{
 	width: 400px;
 	transition: .5s ease;
 }
  .list ul .cp-img img:hover{
  	transform: scale(1.1);
  }
.list ul li h3{
	color: #f79e8b;
}
.list ul li p{
	text-align: justify;
}

/*--footer--*/
footer{
	width: 100%;
	height: 100px;
	background-color:#08c9b0; /*--footer color (change)--*/
}
footer p{
	text-align: center;
	color: #000;
	line-height: 40px;
	font-size: 14px;
}


/*--small screen--*/
@media screen and (max-width: 768px) {
	.mobileShow {
		display: inline;
	}
	.mobileHide {
		display: none;
	}
	div h4{
		width: auto;
		font-size:34px;
	}
	.list{
		width:100%;
		height:auto;
		justify-content: center;
		align-items: center;
	}
	.list ul li{
		width:auto;
		height: 500px;
		float:left;
		margin-left: 45px;
	}
}

/*--ipad--*/
@media screen and (min-width: 768.1px) and (max-width: 960px) {
	.mobileShow {
		display: inline;
	}
	.mobileHide {
		display: none;
	}
	div h4{
		width: auto;
		font-size: 34px;
	}
	.list{
		width:100%;
		height:100%;
		justify-content: center;
		align-items: center;
	}
	.list ul li{
		width: auto;
		height: 500px;
		float:left;
		margin-left: 15px;
	}
	
	
}

/*--medium screen--*/
@media screen and (min-width: 960px) and (max-width: 1200px) {
	.mobileShow {
		display: inline;
	}
	.mobileHide {
		display: none;
	}
	div h4{
		width: auto;
		font-size: 34px;
	}
	.list{
		width:100%;
		height:100%;
		justify-content: center;
		align-items: center;
	}
	.list ul li{
		width: auto;
		height: 500px;
		float:left;
		margin-left: 40px;
	}
}